@model IEnumerable<AspNetCore_CanberraRestaurants_WebApp.Models.ReviewsForum>

@{
    ViewData["Title"] = "Customer Reviews";
}

<div class="bgis">
    <div class="bgc bgs">
        <div id="introBox">Canberra Restaurants</div>
        <div id="quote"><h1 class="niccone">Customer Reviews</h1></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12 pb30">
            <h2 class="oxygenh2">BE THE CRITIC</h2>
            <p style="padding-left:10px">
                Have you ever been to a restaurant recently and loved it or loated it?
                Then tell us about it.
            </p>
            <p style="padding-left:10px">
                Find your inner restaurant critic and create an account to review your recent
                dining experience.
            </p>
        </div>
        <div class="col-md-6 col-sm-12 col-12 welcome-image pb30">
            <div class="row centre p10">
                <div class="col-md-6 col-sm-6 col-6" style="background-size:90%"><img src="../images/burger.jpeg" alt="Hamburger and Chips" /></div>
                <div class="col-md-6 col-sm-6 col-6" style="background-size:90%"><img src="../images/pasta.jpeg" alt="Chicken pasta" /></div>
            </div>
        </div>
        <span class="pb30" style="padding-left: 20px;">Please log in or create an account to review a restaurant.</span>
    </div>

</div>

@{
    if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}

@foreach (var item in Model)
{
    <h2>@Html.DisplayFor(modelItem => item.TopicTitle)</h2>
    <p>
        @{
            for (int i = 0; i < item.Agree; i++)
            {
                <span style="color: #f8bd08; ">&#x2605;</span>
            }
            for (int i = 0; i < 5 - item.Agree; i++)
            {
                <span>&#x2606;</span>
            }
    }
    </p>
    <p>@Html.DisplayFor(modelItem => item.Disagree)</p>
    <p>@Html.DisplayFor(modelItem => item.MessageContent)</p>
    <p>Posted by <b>@Html.DisplayFor(modelItem => item.UserName)</b> on @Html.DisplayFor(modelItem => item.PostDate)</p>
    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
    <a asp-action="IncreaseAgree" asp-route-id="@item.Id" class="btn btn-secondary">Agree(+)</a>
    <a asp-action="IncreaseDisagree" asp-route-id="@item.Id" class="btn btn-secondary">Disagree(-)</a>
    <hr />
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disagree)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disagree)
                </td>
                <td>
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span> | </span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span> | </span>
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span> | </span>
                    }
                    <a asp-action="IncreaseAgree" asp-route-id="@item.Id">Agree(+)</a> <span> | </span>
                    <a asp-action="IncreaseDisagree" asp-route-id="@item.Id">Disagree(-)</a>

                </td>

            </tr>
        }
    </tbody>
</table>
