@model IEnumerable<AspNetCore_CanberraRestaurants_WebApp.Models.ReviewsForum>

@{
    ViewData["Title"] = "Customer Reviews";
}

<div class="bgis">
    <div class="bgc bgs">
        <div id="introBox">Canberra Restaurants</div>
        <div id="quote"><h1 class="niccone">Customer Reviews</h1></div>
    </div>
</div>

<div class="container-fluid ml-1 mr-1">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12 p-2">
            <h2 class="oxygenh2">BE THE CRITIC</h2>
            <p class="row p-2">
                Have you ever been to a restaurant recently and loved it or loated it?
                Then tell us about it.
            </p>
            <p class="row p-2">
                Find your inner restaurant critic and create an account to review your recent
                dining experience.
            </p>
        </div>
        <div class="col-md-6 col-sm-12 col-12 welcome-image p-2">
            <div class="row p-2">
                <div class="col-md-6 col-sm-6 col-6" style="background-size:90%"><img src="../images/burger.jpeg" alt="Hamburger and Chips" /></div>
                <div class="col-md-6 col-sm-6 col-6" style="background-size:90%"><img src="../images/pasta.jpeg" alt="Chicken pasta" /></div>
            </div>
        </div>
    </div>

</div>

<div class="pad20">
    <div class="submit-btn">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Create" class="btn btn-info"> Submit your review</a>
        }
        else
        {
            <p>
                Please <a href="~/Identity/Account/Login?returnUrl=~/Home/Restaurants">login</a> or <a href="~/Identity/Account/Register?returnUrl=~/Home/Restaurants">create an account</a> to post your discussion on this page
            </p>
        }
    </div>

    @foreach (var item in Model)
    {
        <h2>@Html.DisplayFor(modelItem => item.TopicTitle)</h2>
        <p>
            @{
                for (int i = 0; i < item.Agree; i++)
                {
                    <span style="color: #f8bd08; ">&#x2605;</span>
                }
                for (int i = 0; i < 5 - item.Agree; i++)
                {
                    <span>&#x2606;</span>
                }
            }
        </p>
        <p>@Html.DisplayFor(modelItem => item.MessageContent)</p>
        <p>Review by <b>@Html.DisplayFor(modelItem => item.UserName)</b> on <b>@Html.DisplayFor(modelItem => item.PostDate)</b></p>
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
        <a asp-action="IncreaseAgree" asp-route-id="@item.Id" class="btn btn-success">Agree(+)</a>
        <a asp-action="IncreaseDisagree" asp-route-id="@item.Id" class="btn btn-danger">Disagree(-)</a>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Manager"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            }
        }
        <hr class="blueHr">
    }
</div>
